# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [2]:
# example of list comprehensions

l1 = [1,2,3,4,5]
l2 = []

for num in l1:
    square = num**2
    l2.append(square)

print(l2)

[1, 4, 9, 16, 25]

In [3]:
l2= [num**2 for num in l1]
l2

[1, 4, 9, 16, 25]

In [3]:
# Check
l1 = [1,2,3,4,5]
l2 = [num**2 for num in l1]
print(l2)

[1, 4, 9, 16, 25]

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [5]:
# cube numbers in range and turn into list

l4 = [num**3 for num in range(0,10)]
l3 = [num**3 for num in l1]
l4

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [6]:
print(l3)

[1, 8, 27, 64, 125]

## Example 3
Let's see how to add in <code>if</code> statements:

In [8]:
# Check for even numbers in a range

b = [num for num in range(0,20) if num%2 == 0]
b

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
b

[2, 4, 6, 8, 10]

## Example 4
Can also do more complicated arithmetic:

In [1]:
# Convert Celsius to Fahrenheit
c = [20,30,40,50,60]
f = [((9/5)*i+32) for i in c]

print(f)

[68.0, 86.0, 104.0, 122.0, 140.0]

In [2]:
d = {i:j for i in c for j in f}
d

{20: 140.0, 30: 140.0, 40: 140.0, 50: 140.0, 60: 140.0}

## Example 5
We can also perform nested list comprehensions, for example:

In [11]:
x = [i**2 for i in [i**2 for i in range(11)]]
print(x)

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

# Dictionary Comprehension

In [12]:
# dictionary with num as key and num square as value

d = {num:num**2 for num in l1}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [13]:
# dict of string and len of string

cars = ["Honda", "BMW", "Maruti", "Tata", "Hyundai", "Kia"]

carname_length = {i:len(i) for i in cars}

print(carname_length)

{'Honda': 5, 'BMW': 3, 'Maruti': 6, 'Tata': 4, 'Hyundai': 7, 'Kia': 3}

In [17]:
print(carname_length.items())

print(carname_length)

dict_items([('Honda', 5), ('BMW', 3), ('Maruti', 6), ('Tata', 4), ('Hyundai', 7), ('Kia', 3)])
{'Honda': 5, 'BMW': 3, 'Maruti': 6, 'Tata': 4, 'Hyundai': 7, 'Kia': 3}

In [15]:
# inverting dict

# input: {'Honda': 5, 'BMW': 3, 'Maruti': 6, 'Tata': 4, 'Hyundai': 7, 'Kia': 3}
# output: { 5: 'Honda' ....}


inverted_d = {v:k for k,v in carname_length.items() }
print(inverted_d)

{5: 'Honda', 3: 'Kia', 6: 'Maruti', 4: 'Tata', 7: 'Hyundai'}

# Set Comprehensions

In [19]:
# printing squares

q = [1,2,3,3,4,5,5,6,7]

a = {num**2 for num in q}
print(a)

{1, 4, 36, 9, 16, 49, 25}

In [ ]:
# even numbers

In [4]:
# print unique characters

char_string = "Hello World"

unique_char = {char for char in char_string}
print(unique_char)

{' ', 'r', 'o', 'W', 'd', 'H', 'l', 'e'}

In [3]:
# changing the case of characters

uppercased = {char.upper() for char in char_string}
print(uppercased)

{'D', ' ', 'O', 'E', 'W', 'L', 'H', 'R'}

In [6]:
# length of words
cars = ["Honda", "BMW", "Maruti", "Tata", "Hyundai", "Kia"]

len_cars = {len(i) for i in cars}
print(len_cars)

{3, 4, 5, 6, 7}

In [ ]:
c= [10,20,30,40,50]
f =

In [15]:
a = ["India", "England", "US", "Pakistan", "China"]
lambda x:x.upper()

In [16]:
a

['India', 'England', 'US', 'Pakistan', 'China']

In [17]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
while a:
    if len(a) < 3:
        break
    print(a.pop())
print('Done.')

corge
qux
baz
Done.