In [ ]:
#for running ols we use statsmodels.api

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [11]:
df = pd.read_csv('Advertising Budget and Sales (1).csv')
df

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9
...,...,...,...,...,...
195,196,38.2,3.7,13.8,7.6
196,197,94.2,4.9,8.1,9.7
197,198,177.0,9.3,6.4,12.8
198,199,283.6,42.0,66.2,25.5
199,200,232.1,8.6,8.7,13.4

In [15]:
x=df.drop(labels=['Unnamed: 0','Sales ($)'],axis=1)
y=df['Sales ($)']
X=sm.add_constant(x)

In [16]:
model=sm.OLS(y,X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Sales ($)   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Fri, 04 Oct 2024   Prob (F-statistic):           1.58e-96
Time:                        11:03:35   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       2.9389      0.312      9.422      0.000       2.324       3.554
TV Ad Budget ($)            0.0458      0.001     32.809      0.000       0.043       0.049
Radio Ad Budget ($)         0.1885      0.009     21.893      0.000       0.172       0.206
Newspaper Ad Budget ($)    -0.0010      0.006     -0.177      0.860      -0.013       0.011
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.